<section style = "background-color: beige">
  <img [src] = "image.src" alt="Hình ảnh không khả dụng" width="100%"/>
  <p class ="mat-body-1" style = "padding: 0 8px 16px 8px">
    {{image.description}}
  </p>
</section>
