<section>
  <p class = "mat-title" *ngIf="editable">
    Cập nhật thông tin cá nhân
  </p>
  <p class = "mat-title" *ngIf = "!editable">
    Thông tin cá nhân người dùng
  </p>
  <form #profileForm = "ngForm" fxLayout="column">
    <mat-form-field
      appearance="outline"
      class = "formField"
    >
      <mat-label>Tài khoản</mat-label>
      <input
        matInput
        readonly
        placeholder=""
        [value]="username"
        disabled
      />
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      class = "formField"
    >
      <mat-label>Mật khẩu</mat-label>
      <input
        matInput
        readonly
        placeholder=""
        value="placeholder"
        type="password"
        disabled
      />
      <button matSuffix mat-icon-button (click)="navigateToChangePassword()" *ngIf="editable">
        <mat-icon  >edit</mat-icon>
      </button>
    </mat-form-field>
    <p style = "margin: 0; padding-bottom: 16px" class = "mat-caption" *ngIf="editable">Thay đổi nội dung và bấm nút cập nhật để xác nhận thay đổi thông tin cá nhân</p>
    <mat-form-field
      appearance="outline"
      class = "formField"
    >
      <mat-label>Tên đầy đủ</mat-label>
      <input
        matInput
        #fullNameView = "ngModel"
        name="fullName"
        placeholder=""
        [(ngModel)]="fullName"
        required
        [disabled]="!editable"
      />
      <mat-error *ngIf="fullNameView.hasError('required')">Tên đẩy đủ không được để trống</mat-error>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      class = "formField"
    >
      <mat-label>
        Ngày sinh
      </mat-label>
      <input
        matInput
        #birthdayView = "ngModel"
        name = "birthday"
        [(ngModel)]="birthday"
        placeholder="Nhập ngày sinh"
        type = "text"
        pattern = "^[0-9]{2}[/][0-9]{2}[/][0-9]{4}$"
        [disabled]="!editable"
      />
      <mat-hint>Định dạng ngày sinh: dd/mm/yyyy</mat-hint>
      <mat-error *ngIf="birthdayView.hasError('pattern')">Ngày sinh không đúng định dạng</mat-error>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      class = "formField"
    >
      <mat-label>
        Email
      </mat-label>
      <input
        matInput
        #emailView = "ngModel"
        name = "email"
        [(ngModel)]="email"
        placeholder="Nhập email"
        type = "email"
        pattern = ".*?@.*?\..*?"
        [disabled]="!editable"
      />
      <mat-error *ngIf="emailView.hasError('pattern')">Email không đúng định dạng</mat-error>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      class = "formField"
    >
      <mat-label>
        Số điệu thoại
      </mat-label>
      <input
        matInput
        #phoneView = "ngModel"
        name = "phone"
        [(ngModel)]="phone"
        placeholder="Nhập email"
        type = "tel"
        pattern = "[0-9]*?"
        [disabled]="!editable"
      />
      <mat-error *ngIf="phoneView.hasError('pattern')">Số điện thoại không đúng định dạng</mat-error>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      class = "formField"
    >
      <mat-label>
        Hình đại diện
      </mat-label>
      <input
        matInput
        name = "thumbnail"
        [(ngModel)]="thumbnail"
        placeholder="Dán URL của hình đại diện vào đây"
        type = "url"
        [disabled]="!editable"
      />
      <mat-hint >Nhập đường dẫn URL của hình đại diện</mat-hint>
    </mat-form-field>
    <img [src] = "thumbnail" alt = "Hình đại diện không khả dụng"  style = "padding-bottom: 24px" class = "formField"/>
    <button mat-raised-button color = "accent" (click)="requestUpdateProfile()" [disabled]="profileForm.invalid" class = 'formField' *ngIf="editable">
      Tiến hành cập nhật
    </button>
  </form>
</section>
