<section>
  <button mat-button *ngIf="!editing" (click)="editing = true" color = "accent">
    <span>{{title}}</span>
    <mat-icon>edit</mat-icon>
  </button>
  <form #editImageForm *ngIf="editing" style = "padding: 16px">
    <mat-form-field
      appearance="outline"
    >
      <mat-label>{{title}}</mat-label>
      <input
        matInput
        #srcView = "ngModel"
        name = "src"
        [(ngModel)]="src"
        placeholder="Nhập đường dẫn của hình ảnh"
        required
        style = "width: 100%"
      />
      <mat-error *ngIf="srcView.hasError('required')">Đường dẫn không được để trống</mat-error>
    </mat-form-field>
    <span fxLayout="row" fxLayoutGap="16px" >
      <button mat-raised-button color = "accent" (click)="onAcceptButtonClicked()" [disabled]="editImageForm.invalid">
      Chấp nhận
    </button>
    <button mat-raised-button color = "accent" (click)="onCancelButtonClicked()">
      Hủy bỏ
    </button>
    </span>
  </form>
  <img [src] ="src" alt = "hình ảnh không khả dụng" width="100%">
</section>
