<mat-drawer-container class="sidenav-container">
  <mat-drawer
    #sidenav
    mode="side"
    style = "padding: 16px"
    opened
  >
    <p class = "mat-headline">Hồ sơ Fournews</p>
  </mat-drawer>
  <mat-drawer-content style = "padding: 16px;">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

