<section style = "padding: 16px">
  <p>Xin chào, {{currentUserFullName}}</p>
  <mat-nav-list >
    <a routerLink="/home" mat-list-item (click)="onNavListClicked('Fournews')">
      <mat-icon>home</mat-icon>
      <span>Trang chủ</span>
    </a>
    <a routerLink="/administrate" mat-list-item *ngIf = "isAdmin" (click)="onNavListClicked('Trang quản trị')">
      <mat-icon>card_travel</mat-icon>
      <span>Trang quản trị</span>
    </a>
    <a routerLink="/forum" mat-list-item *ngIf = "isAuth" (click)="onNavListClicked('Trang diễn đàn')">
      <mat-icon>forum</mat-icon>
      <span>Trang diễn đàn</span>
    </a>
    <a mat-list-item *ngIf = "isAuth" (click)="onNavListClicked('Hồ sơ cá nhân'); navigateToProfile()">
      <mat-icon>person</mat-icon>
      <span>Hồ sơ cá nhân</span>
    </a>
    <a routerLink = "/login" mat-list-item *ngIf = "!isAuth" (click)="onNavListClicked('Fournews')" >
      <mat-icon>account_circle</mat-icon>
      <span>Đăng nhập</span>
    </a>
    <a routerLink="/register" mat-list-item *ngIf = "!isAuth" (click)="onNavListClicked('Fournews')">
      <mat-icon>face</mat-icon>
      <span>Đăng ký</span>
    </a>
    <a routerLink="/logout" mat-list-item *ngIf="isAuth" (click)="onNavListClicked('Fournews')">
      <mat-icon>eject</mat-icon>
      Đăng xuất
    </a>
  </mat-nav-list>
</section>
