<mat-card fxLayout fxLayoutGap="16px" (click)="navigateToDetail()">
  <img [src]="news.thumbnail" alt="Hình ảnh không khả dụng" height="160px"/>
  <div fxLayout="column" fxLayoutGap="0">
    <p class = "mat-subheading-2">
      {{news.title}}
    </p>
    <p class = "mat-caption">
      {{news.created | timeAgo}}
    </p>
    <p class = "mat-body-1">
      {{news.description}}
    </p>
  </div>
</mat-card>
