<mat-toolbar color="primary" style = "height: 60px" >
  <div fxLayout fxLayoutAlign="start center" fxLayoutGap="16px">
    <button mat-icon-button (click)="onMenuButtonClicked()">
      <mat-icon>menu</mat-icon>
    </button>
    <a style = "color: white; font-weight: bold; text-align: center"   routerLink="/home"  fxLayout fxLayoutAlign="center center">
        {{title}}
    </a>
  </div>
</mat-toolbar>
