<section fxLayout="column" style = "padding: 16px 0">
  <p class = "mat-title">
    Bình luận
  </p>
  <form
    #addCommentForm = "ngForm"
    fxLayout = "column"
    style = " margin-bottom: 16px;"
  >
    <mat-form-field
      appearance="outline"
      style = "width: 100%;"
    >
      <mat-label>Bình luận</mat-label>
      <textarea
        style = "height: 40px"
        matInput
        #newCommentView = "ngModel"
        name = "newComment"
        [(ngModel)]="newComment"
        placeholder="Nhập bình luận của bạn vào đây"
        required
      >
      </textarea>
      <mat-error *ngIf = "newCommentView.hasError('required')">Nội dung bình luận không được để trống</mat-error>
    </mat-form-field>
    <button *ngIf = "isAuth" mat-raised-button color = "accent" [disabled]="addCommentForm.invalid" (click)="addComment(addCommentForm)">
      Gửi bình luận
    </button>
    <button *ngIf = "!isAuth" mat-raised-button color = "accent" (click)="navigateToLogin()">
      Đăng nhập để gửi bình luận
    </button>
  </form>
  <ul fxLayout="column" fxLayoutGap="16px">
    <li *ngFor="let comment of comments" style = "width: 100%">
      <app-news-comment-card [comment]="comment"></app-news-comment-card>
    </li>
  </ul>
</section>
