<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" style = "padding: 64px">
  <p class = "mat-display-1">
    Đăng nhập hệ thống
  </p>
  <p class = "mat-caption">
    Hãy nhập đầy đủ thông tin tài khoản và mật khẩu để tiến hành đăng nhập
  </p>
  <form #loginForm = "ngForm" fxLayout = "column">
    <mat-form-field appearance="outline"
                    class = "formField"
    >
      <mat-label>
        Tài khoản
      </mat-label>
      <input
        matInput
        #usernameView = "ngModel"
        name = "username"
        [(ngModel)]="username"
        required
        minlength="4"
        placeholder="Nhập tài khoản"
      />
      <mat-error *ngIf="usernameView.hasError('required')">Tài khoản không được để trống</mat-error>
      <mat-error *ngIf="usernameView.hasError('minlength')">Tài khoản có ít nhất 4 ký tự</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline"
                    class = "formField"
    >
      <mat-label>
        Mật khẩu
      </mat-label>
      <input
        matInput
        #passwordView = "ngModel"
        name = "password"
        [(ngModel)]="password"
        required
        minlength="6"
        placeholder="Nhập mật khẩu"
        type = "password"
      />
      <mat-error *ngIf="passwordView.hasError('required')">Mật khẩu không được để trống</mat-error>
      <mat-error *ngIf="passwordView.hasError('minlength')">Mật khẩu có ít nhất 6 ký tự</mat-error>
    </mat-form-field>
    <button mat-raised-button color = "accent" (click)="requestLogin(loginForm)" [disabled]="loginForm.invalid">
      Tiếp tục
    </button>
  </form>
</section>
