<mat-card fxLayout="row" fxLayoutGap="16px" style = "padding: 16px 16px 0 16px" (click)="navigateToDetail()">
  <img [src] = "news.thumbnail" alt = "news.id" height="160px"/>
  <div fxLayout="column" fxLayoutGap="0">
    <p class = "mat-subheading-2">
      {{news.title}}
    </p>
    <p class = "mat-body-1">
      {{news.description}}
    </p>
    <p>
      <span class = "mat-caption" style = "font-weight: 500">
        {{news.categoryName}}
      </span>
      -
      <span class  = "mat-caption">
        {{news.created | timeAgo}}
      </span>
    </p>
  </div>
</mat-card>
