<!--<section fxLayout fxLayoutAlign="end" fxLayoutGap="16px" style = "padding: 0 16px">-->
  <!--<p class = "mat-caption">-->
    <!--Author: ThoPV-->
  <!--</p>-->
  <!--<p class = "mat-caption">-->
    <!--Email: thopvna@gmail.com-->
  <!--</p>-->
<!--</section>-->
