<mat-card fxLayout fxLayoutGap="16px" fxLayoutAlign=" center" style = "padding: 8px 16px" (click)="navigateToDetail()">
  <span fxLayout="column" fxLayoutAlign=" center">
    <span class = "mat-caption">
      {{answerAmount}}
    </span>
    <span class = "mat-caption">
      answers
    </span>
  </span>
  <span fxLayout="column"  fxLayoutAlign=" center">
    <span class = "mat-caption">
      {{post.views}}
    </span>
    <span class = "mat-caption">
      views
    </span>
  </span>
  <div fxLayout = "column">
    <p class = "mat-subheading-1">
      {{post.title}}
    </p>
    <div fxLayout  fxLayoutGap="16px">
      <span class = "mat-body-2">
        {{post.creatorName}}
      </span>
      <span class = "mat-caption" fxFlexAlign="end">
      {{post.created | timeAgo}}
    </span>
    </div>
  </div>
</mat-card>
