<mat-card fxLayout fxLayoutGap="16px" fxLayoutAlign="start center" style="overflow: auto;" id="userManagementCard">
  <mat-form-field appearance="outline" >
    <mat-label>Tài khoản</mat-label>
    <input
      matInput
      readonly
      [value]="user.username"
      placeholder=""
      disabled
    />
  </mat-form-field>

  <mat-form-field appearance="outline" >
    <mat-label>Tên đầy đủ</mat-label>
    <input
      matInput
      readonly
      [value]="user.fullName"
      placeholder=""
      disabled
    />
  </mat-form-field>

  <mat-form-field appearance="outline" >
    <mat-label>Thêm vào lúc</mat-label>
    <input
      matInput
      readonly
      [value]="user.created | date: 'H:m | d/M/y'"
      placeholder=""
      disabled
    />
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="user.adderId != null" >
    <mat-label>Người thêm vào</mat-label>
    <input
      matInput
      readonly
      [value]="user.adderId"
      placeholder=""
      disabled
    />
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="!roleEditable" >
    <mat-label>Vai trò</mat-label>
    <input
      matInput
      readonly
      [value]="user.role"
      placeholder=""
      disabled
    />
  </mat-form-field>

  <ng-container *ngIf = "roleEditable">
    <mat-form-field appearance="outline">
    <mat-label>Thiết lập vai trò</mat-label>
    <mat-select [value]="user.role" (selectionChange)="onRoleChange($event)">
      <mat-option *ngFor="let role of userRoles" [value]="role">
        {{role}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button  color="accent" (click)="requestUpdateChange()" *ngIf="changed">
    Cập nhật
  </button>
  </ng-container>
</mat-card>
