<section style = " margin-bottom: 96px">
  <p class ="mat-title">Chỉnh sửa tin tức</p>
  <mat-card  style = "padding-right: 320px" fxLayout="column" fxLayoutGap="16px">
    <app-editable-text [content]="news.title" textStyleClass="mat-headline" (contentUpdateListener)="news.title = $event; requestUpdateNews()"></app-editable-text>
    <span fxLayout fxLayoutGap="16px">
      <app-editable-text [content]="news.author" textStyleClass="mat-caption author"
                         (contentUpdateListener)="news.author = $event; requestUpdateNews()"></app-editable-text>
      <span class = "mat-caption" fxLayout fxFlexAlign=" top" fxLayoutGap="16px">
        <mat-icon style = "font-size: 18px">alarm_add</mat-icon>
        {{news.created | date: 'dd/MM/yyyy'}}
      </span>
    </span>
    <app-editable-text textStyleClass="mat-title" [content]="news.description" (contentUpdateListener)="news.description = $event; requestUpdateNews()"></app-editable-text>
    <app-editable-image  title="Thay đổi hình đại diện của tin tức" [src]="news.thumbnail" (imageUpdateListener)="news.thumbnail = $event; requestUpdateNews()"></app-editable-image>
    <app-editable-text textStyleClass="mat-body-1" [content]="news.content" (contentUpdateListener)="news.content = $event;requestUpdateNews()"></app-editable-text>

    <ul fxLayout="column" fxLayoutGap="16px">
      <li style = "width: 100%; background-color: beige" *ngFor="let image of news.images; let index = index">
        <app-editable-image [src]="image.src" (imageUpdateListener)="news.images[index].src = $event; requestUpdateNews()"></app-editable-image>
        <app-editable-text [content]="image.description" textStyleClass="mat-body-1 padding8" (contentUpdateListener)="news.images[index].description = $event; requestUpdateNews()"></app-editable-text>
      </li>
    </ul>
    <div fxLayout>
      <button style = "margin: 16px 0" mat-raised-button color="accent" (click)="requestAddNewImageNews()" fxFlex>
        <span>
          Thêm ảnh
        </span>
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card>
</section>
