<section  style = "margin: 16px 360px 16px 16px">
  <p class = "mat-title">
    Chi tiết bài đăng
  </p>
  <mat-card>
    <p class ="mat-title" *ngIf="!editable">
      {{post.title}}
    </p>
    <app-editable-text textStyleClass="mat-title" [content]="post.title" *ngIf="editable" (contentUpdateListener)="post.title = $event; requestUpdatePost()"></app-editable-text>
    <div style = "margin-bottom: 16px">
      <span class = "mat-caption author">{{post.creatorName}}</span>
      <mat-icon style="margin-left: 16px; font-size: 16px">alarm_add</mat-icon>
      <span class = "mat-caption">{{post.created | date: "dd/MM/yyyy"}}</span>
    </div>
   <ul  *ngIf="!editable" fxLayout="column" fxLayoutGap="16px">
     <li style = "width: 100%" *ngFor="let content of post.content">
       <p class = "mat-body-1" >
         {{content}}
       </p>
     </li>
   </ul>

    <ul  *ngIf="editable" fxLayout="column" fxLayoutGap="16px">
      <li style = "width: 100%" *ngFor="let content of post.content; let index = index">
        <app-editable-text
          textStyleClass="mat-body-1"
          [content]="content"
          *ngIf="editable"
          (contentUpdateListener)="updatePostContent(index, $event);"
          enableRemovable = "true"
          (onRemoveListener)="removeContent(index)"
        ></app-editable-text>
      </li>
    </ul>
    <button mat-raised-button color = "accent" *ngIf="editable" style = "margin-top: 16px; width: 100%" (click)="requestAddNewContent()">
      <span>
        Tạo thêm nội dung
      </span>
      <mat-icon>add</mat-icon>
    </button>
  </mat-card>
  <p class = "mat-title" style = "margin-top: 16px">
    Bình luận
  </p>
  <form
    #addCommentForm = "ngForm"
    fxLayout = "column"
    style = " margin-bottom: 16px;"
  >
    <mat-form-field
      appearance="outline"
      style = "width: 100%;"
    >
      <mat-label>Bình luận</mat-label>
      <textarea
        style = "height: 40px"
        matInput
        #newCommentView = "ngModel"
        name = "newComment"
        [(ngModel)]="newComment"
        placeholder="Nhập bình luận của bạn vào đây"
        required
      >
      </textarea>
      <mat-error *ngIf = "newCommentView.hasError('required')">Nội dung bình luận không được để trống</mat-error>
    </mat-form-field>
    <button *ngIf = "isAuth" mat-raised-button color = "accent" [disabled]="addCommentForm.invalid" (click)="addComment(addCommentForm)">
      Gửi bình luận
    </button>
    <button *ngIf = "!isAuth" mat-raised-button color = "accent" (click)="navigateToLogin()">
      Đăng nhập để gửi bình luận
    </button>
  </form>
  <ul fxLayout="column" fxLayoutGap="16px">
    <li style = "width: 100%" *ngFor="let comment of comments">
      <app-post-comment-card [comment] = "comment"></app-post-comment-card>
    </li>
  </ul>
</section>
