<mat-card fxLayout = "column" (click)="navigateToDetail()">
  <img [src] = "news.thumbnail" alt = "news.id" width="240px" height="160px"/>
  <p class = "mat-subheading-2">
    {{news.title}}
  </p>
</mat-card>
