
<section style = " margin: 16px 360px 16px 240px" fxLayout = "column" fxLayoutGap = "16px">
  <app-categories></app-categories>
  <mat-card (click)="navigateToFirstNews()">
    <img [src] = "firstNews.thumbnail" alt = "firstNews.id" width="100%" height ="auto"/>
    <p class = "mat-subheading-2">
      {{firstNews.title}}
    </p>
    <p class = "mat-body-1">
      {{firstNews.description}}
    </p>
  </mat-card>
  <ul fxLayout fxLayoutGap = "16px" style = "overflow: auto">
    <li *ngFor="let news of horizontalNewses" style = "padding: 0 0 16px 0">
      <app-category-horizontal-news [news] = "news"></app-category-horizontal-news>
    </li>
  </ul>
  <ul fxLayout = "column" fxLayoutGap = "16px">
    <li  *ngFor="let news of verticalNewses">
      <app-category-vertical-news [news] = "news"></app-category-vertical-news>
    </li>
  </ul>
</section>
