<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" style = "padding: 64px">
  <p class = "mat-display-1">
    Đăng ký tài khoản
  </p>
  <p class = "mat-caption">
    Hãy nhập đầy đủ thông tin tài khoản và mật khẩu để tiến hành đăng ký
  </p>
  <form #registerForm = "ngForm" fxLayout = "column">
    <mat-form-field appearance="outline"
      class = "formField"
    >
      <mat-label>
        Tài khoản
      </mat-label>
      <input
        matInput
        #usernameView = "ngModel"
        name = "username"
        [(ngModel)]="username"
        required
        minlength="4"
        placeholder="Nhập tài khoản"
      />
      <mat-error *ngIf="usernameView.hasError('required')">Tài khoản không được để trống</mat-error>
      <mat-error *ngIf="usernameView.hasError('minlength')">Tài khoản có ít nhất 4 ký tự</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline"
                    class = "formField"
    >
      <mat-label>
        Mật khẩu
      </mat-label>
      <input
        matInput
        #passwordView = "ngModel"
        name = "password"
        [(ngModel)]="password"
        required
        minlength="6"
        placeholder="Nhập mật khẩu"
        type = "password"
      />
      <mat-error *ngIf="passwordView.hasError('required')">Mật khẩu không được để trống</mat-error>
      <mat-error *ngIf="passwordView.hasError('minlength')">Mật khẩu có ít nhất 6 ký tự</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline"
                    class = "formField"
    >
      <mat-label>
        Họ và tên
      </mat-label>
      <input
        matInput
        #fullNameView = "ngModel"
        name = "fullName"
        [(ngModel)]="fullName"
        required
        placeholder="Nhập họ và tên"
        type = "text"
      />
      <mat-error *ngIf="fullNameView.hasError('required')">Họ và tên không được để trống</mat-error>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      class = "formField"
    >
      <mat-label>
        Ngày sinh
      </mat-label>
      <input
        matInput
        #birthdayView = "ngModel"
        name = "birthday"
        [(ngModel)]="birthday"
        placeholder="Nhập ngày sinh"
        type = "text"
        pattern = "^[0-9]{2}[/][0-9]{2}[/][0-9]{4}$"
      />
      <mat-hint>Định dạng ngày sinh: dd/mm/yyyy</mat-hint>
      <mat-error *ngIf="birthdayView.hasError('pattern')">Ngày sinh không đúng định dạng</mat-error>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      class = "formField"
    >
      <mat-label>
        Email
      </mat-label>
      <input
        matInput
        #emailView = "ngModel"
        name = "email"
        [(ngModel)]="email"
        placeholder="Nhập email"
        type = "email"
        pattern = ".*?@.*?\..*?"
      />
      <mat-error *ngIf="emailView.hasError('pattern')">Email không đúng định dạng</mat-error>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      class = "formField"
    >
      <mat-label>
        Số điệu thoại
      </mat-label>
      <input
        matInput
        #phoneView = "ngModel"
        name = "phone"
        [(ngModel)]="phone"
        placeholder="Nhập email"
        type = "tel"
        pattern = "[0-9]*?"
      />
      <mat-error *ngIf="phoneView.hasError('pattern')">Số điện thoại không đúng định dạng</mat-error>
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      class = "formField"
    >
      <mat-label>
        Hình đại diện
      </mat-label>
      <input
        matInput
        name = "thumbnail"
        [(ngModel)]="thumbnail"
        placeholder="Dán URL của hình đại diện vào đây"
        type = "url"
      />
      <mat-hint >Nhập đường dẫn URL của hình đại diện</mat-hint>
    </mat-form-field>
    <img [src] = "thumbnail" alt = "Hình đại diện không khả dụng"  style = "padding-bottom: 24px" class = "formField"/>
    <button mat-raised-button color = "accent" (click)="requestRegister(registerForm)" [disabled]="registerForm.invalid">
      Tiến hành đăng ký
    </button>
  </form>
</section>
