<mat-sidenav-container
  style = "position:absolute; top:0; bottom:0; left:0; right:0;"
>
  <mat-sidenav #sideNav>
    <app-side-nav-view (navListClickListener)="sideNav.close(); title = $event"></app-side-nav-view>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header #headerView [title]="title" (menuIconClickListener)="sideNav.toggle()"></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
