<mat-card fxLayout fxLayoutGap="16px" fxLayoutAlign="start center" style = "padding:0 16px;">
  <img [src] = "comment.creatorThumbnail" alt = "Hình ảnh không khả dụng" width = "64px" height = "64px"/>
  <div fxLayout="column" fxLayoutGap="0" fxLayoutAlign="top start">
    <p>
      <span class = "mat-subheading-2" style = "color: lightblue; padding-right: 16px">
        {{comment.creatorName}}
      </span>
      <span class = "mat-caption">
        {{comment.created | timeAgo}}
      </span>
    </p>
    <p>
      {{comment.content}}
    </p>
  </div>
</mat-card>
