<mat-drawer-container class="sidenav-container">
  <mat-drawer
    mode="side"
    style = "padding: 16px"
    opened
  >
    <p class = "mat-headline">
      Diễn đàn Fournews
    </p>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
