<section fxLayout = "column" fxLayoutGap = "16px" style = "margin: 16px 8px;">
  <p class = "mat-title">
    {{category.name}}
  </p>
  <mat-card (click)="navigateToNews(firstNews)">
    <img [src] = "firstNews.thumbnail" alt = "firstNews.id"  width = "100%"/>
    <p class = "mat-subheading-2">
      {{firstNews.title}}
    </p>
    <p class = "mat-body-1">
      {{firstNews.description}}
    </p>
  </mat-card>
  <ul fxLayout="column" fxLayoutGap = "16px" style = "overflow: auto">
    <li *ngFor="let news of restNewses">
      <mat-card (click)="navigateToNews(news)">
        <p class = "mat-subheading-2">
          {{news.title}}
        </p>
      </mat-card>
    </li>
  </ul>
</section>
