<section  style = "margin: 16px 360px 16px 16px">
  <p class = "mat-title">
    Viết bài mới
  </p>
  <mat-card>
    <app-editable-text textStyleClass="mat-title" [content]="title"(contentUpdateListener)="title = $event"></app-editable-text>
    <div style = "padding-bottom: 16px">
      <span class = "mat-caption author">{{currentUserName}}</span>
      <mat-icon style="margin-left: 16px; font-size: 16px">alarm_add</mat-icon>
      <span class = "mat-caption">{{currentTimeInMillis | date: "dd/MM/yyyy"}}</span>
    </div>
    <ul fxLayout="column" fxLayoutGap="16px">
      <li style = "width: 100%" *ngFor="let content of content; let index = index">
        <app-editable-text
          textStyleClass="mat-body-1"
          [content]="content"
          (contentUpdateListener)="content[index] = $event;"
          enableRemovable = "true"
          (onRemoveListener)="removeContent(index)"
        ></app-editable-text>
      </li>
    </ul>
    <button mat-raised-button color = "accent" style = "margin-top: 16px; width: 100%" (click)="requestAddNewContent()">
      <span>
        Thêm nội dung mới
      </span>
      <mat-icon>add</mat-icon>
    </button>
    <button mat-raised-button color = "warn" style = "margin-top: 16px; width: 100%" (click)="requestCreatePost()">
      <span>
        Đăng bài
      </span>
      <mat-icon>add</mat-icon>
    </button>
  </mat-card>
</section>
