<p [className]="textStyleClass" *ngIf="!editing" fxLayout fxLayoutGap="16px" style = "margin: 0" >
  {{content}}
  <button mat-icon-button color = "accent" (click)="editing = true" fxFlexAlign="top">
    <mat-icon>edit</mat-icon>
  </button>
</p>
<form fxLayout="column"
      #editForm = "ngForm"
      *ngIf="editing"
      style = "padding: 16px;"
>
  <mat-form-field
    appearance="outline"
    style = "width: 100%"
  >
    <mat-label>{{title}}</mat-label>
    <textarea
      matInput
      #contentView = "ngModel"
      name = "content"
      [(ngModel)]="liveContent"
      placeholder="Nhập nội dung mới"
      required
      style = "height: 80px"
    ></textarea>
    <mat-error *ngIf="contentView.hasError('required')">Nội dung không được để trống</mat-error>
  </mat-form-field>
  <span fxLayout="row" fxLayoutGap="16px" >
    <button mat-raised-button color = "accent" (click)="onAcceptButtonClicked()" [disabled]="editForm.invalid">
    Chấp nhận
  </button>
  <button mat-raised-button color = "accent" (click)="onCancelButtonClick()">
    Hủy bỏ
  </button>
 <button mat-raised-button color="warn" (click)="triggerRemoveEvent()"  *ngIf="enableRemovable">
      Xóa phần nội dung này ?
  </button>
  </span>
</form>
