<section fxLayout = "column" style = " margin-bottom: 96px">
  <p class = "mat-title">
    Quản lý tin tức
  </p>
  <section fxLayout = "row" fxLayoutAlign="start center" fxLayoutGap="16px">
    <mat-form-field
      style = "width: 480px"
      appearance="outline"
    >
      <mat-label>Tìm kiếm tin tức</mat-label>
      <input
        matInput
        [(ngModel)]="liveKeyword"
        placeholder="Nhập từ khóa để tìm kiếm(tiêu đề, nội dung, tác giả, ...)"
        (ngModelChange)="keywordChange()"
      />
      <mat-icon matSuffix (click)="requestSearch()">search</mat-icon>
    </mat-form-field>
  </section>
  <button mat-raised-button style = "margin-bottom: 16px" color = "accent" (click)="requestAddNewNews()">
    <span>Thêm tin tức mới</span>
    <mat-icon>add</mat-icon>
  </button>
  <p class = "mat-caption" *ngIf = "showResultLabel">
    Kết quả tìm kiếm cho từ khóa {{keyword}} ({{searchedNewses.length}} kết quả)
  </p>
  <ul fxLayout="column" fxLayoutGap="16px">
    <li style = "width: 100%" *ngFor="let news of searchedNewses">
      <app-news-management-news-card [news] = "news"></app-news-management-news-card>
    </li>
  </ul>
</section>
