<mat-card fxLayout = "column" (click)="navigateToDetail()">
  <img [src] = "news.thumbnail" alt = "news.id" width="240px" height="160px" />
  <p class = "mat-subheading-2" style = "height: 80px; overflow: hidden; text-overflow: ellipsis">
    {{news.title}}
  </p>
</mat-card>
