
<section style = " margin: 16px 360px 16px 240px" fxLayout="column" fxLayoutGap="16px" >
  <app-categories></app-categories>
  <mat-card id = "contentContainer">
    <p class = "mat-headline">
      {{news.title}}
    </p>
    <p>
      <span class = "mat-caption" style = "text-transform: uppercase; color: orange">
        {{news.author}}
      </span>
      <mat-icon style = "padding-left: 16px">alarm_add</mat-icon>
      <span class = "mat-caption">
        {{news.created | date: 'dd/MM/yyyy'}}
      </span>
    </p>
    <p class = "mat-title">
      {{news.description}}
    </p>
    <img [src]="news.thumbnail" alt="Hình ảnh không khả dụng" width="100%"/>
    <p class ="mat-body-1">
      {{news.content}}
    </p>
    <ul fxLayout="column" fxLayoutGap="16px">
      <li *ngFor="let image of news.images" style = "width: 100%">
        <app-image-view [image]="image"></app-image-view>
      </li>
    </ul>
    <app-news-comments [news] = "news"></app-news-comments>
    <p class = "mat-title">
      Tin cùng thể loại
    </p>
    <ul fxLayout="column" fxLayoutGap="16px">
      <li *ngFor="let news of relatedNews" style = "width: 100%">
        <app-news-detail-rest-news-card [news]="news"></app-news-detail-rest-news-card>
      </li>
    </ul>
  </mat-card>
</section>
