<section style = "margin: 16px 360px 16px 16px">
  <p class = "mat-title">
    Những bài đăng mới nhất
  </p>
  <div fxLayout fxLayoutGap="16px" fxFlexAlign=" center" style = "margin-bottom: 16px">
    <mat-form-field
      appearance="outline"
      class = "formField"
    >
      <mat-label>Tìm kiếm bài đăng</mat-label>
      <input
        matInput
        placeholder="Nhập từ khóa tìm kiếm( theo tiêu đề, nội dung, tài khoản người đăng, ...)"
        [(ngModel)]="liveKeyword"
        (ngModelChange)="keywordChange()"
      />
      <button matSuffix mat-icon-button (click)="requestSearch()">
        <mat-icon  >search</mat-icon>
      </button>
    </mat-form-field>
    <button fxFlex mat-raised-button color="accent" (click)="navigateToCreatePost()">
      <span class = "mat-title">Viết bài mới</span>
      <mat-icon style = "font-size: 24px; margin-left: 16px; font-weight: bold">add</mat-icon>
    </button>
  </div>
  <p class = "caption" *ngIf="showSearchResultLabel">
    Kết quả tìm kiếm cho từ khóa: {{keyword}} - {{searchedPosts.length}} kết quả
  </p>
  <ul fxLayout="column" fxLayoutGap="16px">
    <li style = "width: 100%" *ngFor="let post of searchedPosts">
      <app-post-card [post] = "post"></app-post-card>
    </li>
  </ul>
</section>
