<section>
  <p class = "mat-title">
    Thay đổi mật khẩu
  </p>
  <form #changePasswordForm = "ngForm"  fxLayout="column">
    <mat-form-field
      appearance="outline"
      class = "formField"
    >
      <mat-label>Mật khẩu cũ</mat-label>
      <input
        matInput
        placeholder="Nhập mật khẩu cũ"
        [(ngModel)]="oldPassword"
        #oldPasswordView = "ngModel"
        name = "oldPasswordView"
        type="password"
        required
      />
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      class = "formField"
    >
      <mat-label>Mật khẩu mới</mat-label>
      <input
        matInput
        placeholder="Nhập mật khẩu mới"
        [(ngModel)]="newPassword"
        #newPasswordView = "ngModel"
        name = "newPassword"
        type="password"
        required
        (ngModelChange)="newPasswordChanged()"
      />
    </mat-form-field>
    <mat-form-field
      appearance="outline"
      class = "formField"
    >
      <mat-label>Nhập lại mật khẩu mới</mat-label>
      <input
        matInput
        placeholder="Nhập lại mật khẩu mới"
        [(ngModel)]="confirmNewPassword"
        #confirmNewPasswordView = "ngModel"
        name = "confirmNewPassword"
        type="password"
        (ngModelChange)="newPasswordChanged()"
        required
      />
    </mat-form-field>

    <button
        class = "formField"
        mat-raised-button
        color = "accent"
        (click)="requestChangePassword()"
        [disabled]="changePasswordForm.invalid || confirmPasswordWrong">
      <span>Chấp nhận thay đổi</span>
    </button>
  </form>
</section>
