<section fxLayout="column" fxLayoutGap = "16px">
  <ul fxLayout = "column" fxLayoutGap = "16px">
    <li  *ngFor="let news of newses">
      <app-rest-news-card [news] = "news"></app-rest-news-card>
    </li>
  </ul>
  <mat-grid-list cols = "2"  rowHeight="720px" >
    <mat-grid-tile *ngFor="let categoryNewses of categoriesNewses" style = "overflow: auto">
      <app-rest-cat [categoryNewses] = "categoryNewses"></app-rest-cat>
    </mat-grid-tile>
  </mat-grid-list>
</section>
