<section fxLayout="column" fxLayoutGap="16px">
  <mat-card (click)="navigateToFirstNews()">
    <img [src] = "firstNews.thumbnail" alt = "firstNews.id" width="100%" height ="auto"/>
    <p class = "mat-subheading-2">
      {{firstNews.title}}
    </p>
    <p class = "mat-body-1">
      {{firstNews.description}}
    </p>
  </mat-card>
  <ul fxLayout fxLayoutGap = "16px" style = "overflow: auto">
    <li *ngFor="let news of newses" style = "padding: 0 0 16px 0">
      <app-first-news-card [news] = "news"></app-first-news-card>
    </li>
  </ul>
</section>
