/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

.padding8{
  padding: 8px
}

.padding16{
  padding: 16px
}

.sidenav-container {
  /*position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;*/
}


.formField{
  width: 480px
}

.author{
  text-transform: uppercase;
  color: orange;
}

.paddingStartEnd16{
  padding-left: 16px;
  padding-right: 16px;
}
.paddingStartEnd8{
  padding-left: 8px;
  padding-right: 8px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

mat-card:hover{
  background-color: beige;
}
