<ul fxFlex fxLayout  fxLayoutGap="16px" style = "overflow: auto; ">
  <li *ngFor="let category of categories">
    <button mat-flat-button (click)="navigateToCategory(category.id)">
      {{category.name}}
    </button>
  </li>
</ul>
