<section>
  <p class = "mat-headline">Quản trị Fournews</p>
  <mat-nav-list>
    <a [routerLink]="['news-management']" mat-list-item>
      <mat-icon>control_point_duplicate</mat-icon>
      <span style = "padding-left: 8px">Quản lý tin tức</span>
    </a>
    <a [routerLink]="['user-management']" mat-list-item>
      <mat-icon>person</mat-icon>
      <span style = "padding-left: 8px">Quản lý thành viên</span>
    </a>
  </mat-nav-list>
</section>
