<section  fxLayout = "column" style = " margin-bottom: 96px">
  <p class = "mat-title">
    Quản lý người dùng
  </p>
  <section fxLayout = "row" fxLayoutAlign="start center" fxLayoutGap="16px">
    <mat-form-field
      style = "width: 480px"
      appearance="outline"
    >
      <mat-label>Tìm kiếm người dùng</mat-label>
      <input
        matInput
        [(ngModel)]="liveKeyword"
        placeholder="Nhập từ khóa để tìm kiếm(Tài khoản, tên đầy đủ, số điện thoại, email, ...)"
        (ngModelChange)="keywordChange()"
      />
      <mat-icon matSuffix (click)="requestSearch()">search</mat-icon>
    </mat-form-field>
  </section>

  <button mat-raised-button style = "margin-bottom: 16px" color = "accent" (click)="requestAddNewUser()">
    <span>Thêm người dùng mới</span>
    <mat-icon>add</mat-icon>
  </button>
  <p class = "mat-caption" *ngIf = "showResultLabel">
    Kết quả tìm kiếm cho từ khóa {{keyword}} ({{searchedUsers.length}} kết quả)
  </p>
  <ul fxLayout="column" fxLayoutGap="16px">
    <li style = "width: 100%" *ngFor="let user of searchedUsers">
      <app-user-management-card [user]="user"></app-user-management-card>
    </li>
  </ul>
</section>
