<mat-card fxLayout fxLayoutGap="16px">
  <img [src] = "news.thumbnail"  alt = "Hình ảnh không khả dụng" height = "240px" />
  <section fxLayout="column" fxLayoutGap="0" fxFlex>
    <p class = "mat-subheading-2">
        {{news.title}}
    </p>

    <p class = "mat-caption">
      {{news.created | timeAgo}}
    </p>
    <p class = "mat-body-2" fxFlex>
      {{news.description}}
    </p>
    <div fxLayout fxLayoutAlign="end">
      <button mat-icon-button (click)="navigateToEditNews()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </section>
</mat-card>
